{% extends "main.html" %}
{%block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách lớp</h3>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="container ">
                            <div class="container container_popup">
                                <button type="button" class="btn btn-primary btn_popup" data-toggle="modal" data-target="#popup1">
                                   Thêm lớp mới
                                </button>
                            </div>
                            <div class="modal fade" id="popup1" tabindex="-1" role="dialog" aria-labelledby="popup1Label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="popup1Label">Thêm lớp mới</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" id="myForm">
                                                {% csrf_token %}
                                                {{ form_lop.as_p }}
                                                <button type="submit" class="btn btn-primary">Lưu</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="example1" class="table table-bordered table-striped">
                                <form method="post" id="delete-form">
                                    {% csrf_token %}
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="select-all"></th>
                                                <th>Mã lớp</th>
                                                <th>Tên lớp</th>
                                                <th>Mã cố vấn</th>
                                                <th>Tên chương trình đào tạo</th>
                                                <th>Hành động </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for lops in lops %}
                                            <tr>
                                                <td><input type="checkbox" name="selected_ids" value="{{ lops.Ma_lop }}"></td>
                                                <td>{{ lops.Ma_lop }}</td>
                                                <td>{{ lops.Ten_lop }}</td>
                                                <td>{{ lops.Id_cv }}</td>
                                                <td>{{ lops.Ma_CTDT }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal_lop" 
                                                            data-ma_lop ="{{ lops.Ma_lop }}" data-ten_lop ="{{ lops.Ten_lop }}" 
                                                            data-id_cv="{{ lops.Id_cv }}" data-ma_ctdt="{{ lops.Ma_CTDT }}" 
                                                            >Sửa</button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Xóa</button>
                                </form>
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Bạn có chắc chắn muốn xóa các dòng đã chọn?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                <button type="submit" class="btn btn-danger" form="delete-form" name="delete">Xóa</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="successModal_delete" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="successModalLabel">Thông báo</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Xóa thành công các dòng đã chọn.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="successModal_edit" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="successModalLabel">Thông báo</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Sửa thành công.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="modal fade" id="addSuccessModal" tabindex="-1" role="dialog" aria-labelledby="addSuccessModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addSuccessModalLabel">Thông báo</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Thêm thành công.
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'lop' %}" class="btn btn-secondary" > Đóng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Modal chỉnh sửa -->
                                <div class="modal fade" id="editModal_lop" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModal">Chỉnh sửa chương trình đào tạo</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" id="edit-form">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="edit-ma_lop">Mã lớp</label>
                                                        <input type="text" class="form-control" id="edit-ma_lop" name="Ma_lop" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit-ten_lop">Tên lớp</label>
                                                        <input type="text" class="form-control" id="edit-ten_lop" name="Ten_lop">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit-id_cv">Mã cố vấn</label>
                                                        <select id="edit-id_cv" name="Id_cv" required>
                                                           {% for covans in covans %}
                                                                <option value="{{ covans.Id_cv }}">{{covans.Id_cv}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit-ma_ctdt">Mã chương trình đào tạo</label>
                                                        <select id="edit-ma_ctdt" name="Ma_CTDT" required>
                                                           {% for ctdts in ctdts %}
                                                                <option value="{{ ctdts.Ma_CTDT }}">{{ctdts.Ma_CTDT}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                  
                                                    <button type="submit" class="btn btn-primary" name="edit">Lưu</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

{%endblock%}
        